*{
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBMRegular';
  max-width: 1920px;
  margin: auto;
}

@font-face {
  font-family: "IBMBold";
  src: url(./assets/fonts/IBMPlexSans-Bold.ttf);
}
@font-face {
  font-family: "IBMMedium";
  src: url(./assets/fonts/IBMPlexSans-Medium.ttf);
}
@font-face {
  font-family: "IBMRegular";
  src: url(./assets/fonts/IBMPlexSans-Regular.ttf);
}

